* {
    text-align: center;
    font-family: sans-serif;
}
table {
    border-collapse: collapse;
    width: 300px;
    margin: 0 auto;

}

td,
th {
    border: 3px solid rgb(68, 0, 255);
    background-color: rgb(115, 122, 145);
    color: white;
    padding: 8px;
    text-align: center;
}

input[type=button] {
    background-color: #dd0042;
    border: none;
    color: white;
    padding: 16px;
    margin: 6px;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
}

h1 {
    color: #dd0042;
}